//misc reused content
@mixin section-border($side, $color: $color-tertiary, $type: solid){
  border-#{$side}: 2px $color $type;
}

@mixin border-rad($rad: 5%){
  border-radius: $rad;
}

//font stacks
@mixin head-font{
  font-family: "Oxygen Mono", Monaco, "Lucida Console", monospace;
}

@mixin main-font{
  font-family: Oxygen, Tahoma, Arial, sans-serif;
}

//breakpoint mixin
@mixin mq($breakpoint){
  $breakValue: map-get($breakpoints,$breakpoint);
  @if($breakpoint == "xs"){
    @media only screen and (max-width: $breakValue){
      @content;
    }
  }
  @else{
    @media only screen and (min-width: $breakValue){
      @content;
    }
  }
}
