//screen reader, should be moved somewhere else
.srt{
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
*{
  box-sizing: border-box;
  @include main-font;//temp
}
html{
  font-size: 16px;
}

button{
  border: none;
  background-color: $silver;
}

body{
  background-color: $color-background;
  min-width: 320px;
  width: 100%;
  color: $gray-dark;
}


main,
footer,
section{
  width: 100%;
}

//keep menu sticky on top when scrolling.
main{
  margin-top: 5.6875em;
}

header{
  position:fixed;
  top:0;
  left:0;
  right:0;
  z-index:50;
}
h2{
  @extend %center;
  @include section-border(bottom);
}

a{
  text-decoration: none;
  color: $color-secondary;
}

.stickyFooter{
  min-height: calc(100vh - 14em);
}
