.wrapper{
  line-height: 1.5625em;
}

//post titles
.reb_title{
  margin: 0;
  padding: 0.7em 0 0.6em;
}

//different due to header
.reb_title:first-of-type{
  padding-top: 0.2em;
}

//post paragraphs mainly
p{
  margin: 0;
  padding: 1em 0 0.6em;
}


//widget styles
.widget:nth-of-type(n+2){
  width:50%;
  display: inline-block;
  margin-left: -4px;
  @include mq(m){
    width: 100%;
    margin-left: 0;
  }
}
.widget:nth-of-type(1){
  width: 100%;
}

.side_bar{
  width: 100%;
  @include mq(m){
    float: right;
    width: 30%;
    padding-top: 1.53em;
  }
}

.main_content{
  @include mq(m){
    width: 65%;
    float: left;
    max-width: 600px;
  }
}

//search bar
.screen-reader-text{
  display:none;
}
//clear fix
main{
  @extend %clearfix;
}
